*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --soft-red: #($soft-red);
  --soft-orange: #($soft-orange);
  --off-white: #($off-white);
  --grayish-blue: #($grayish-blue);
  --dark-grayish-blue: #($dark-grayish-blue);
  --very-dark-blue: #($very-dark-blue);
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 800;
  color: var(--very-dark-blue);
  width: 60px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  color: var(--grayish-blue);
  display: flex;
  justify-content: center;
}

.hide-from-phone {
  @include breakpoint-down(small) {
    display: none;
  }
}

.hide-from-desktop {
  @include breakpoint-up(medium) {
    display: none;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.menu {
  z-index: 100;
}
