@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --soft-red: #($soft-red);
  --soft-orange: #($soft-orange);
  --off-white: #($off-white);
  --grayish-blue: #($grayish-blue);
  --dark-grayish-blue: #($dark-grayish-blue);
  --very-dark-blue: #($very-dark-blue);
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 800;
  color: #00001a;
  line-height: 2.5rem;
  width: 30%;
  font-size: 2.5rem;
}
@media (max-width: 39.9375em) {
  h1 {
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

a {
  text-decoration: none;
}

.para-link {
  width: 55%;
}
@media (max-width: 39.9375em) {
  .para-link {
    width: 100%;
  }
}

.para {
  margin-bottom: 1.25rem;
}

.link {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #f15e50;
  color: #fffdfa;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  background-color: #00001a;
}

.line {
  width: 100%;
  height: 2px;
  background: #5d5f79;
  margin-bottom: 1.5rem;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  color: #5d5f79;
  display: flex;
  justify-content: center;
}
@media (max-width: 39.9375em) {
  body {
    height: 100%;
  }
}

@media (max-width: 39.9375em) {
  .hide-from-phone {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-from-desktop {
    display: none;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.menu {
  z-index: 100;
}

.container {
  width: 1140px;
  height: 100%;
  padding: 1.25rem;
  position: relative;
}
@media (max-width: 63.9375em) {
  .container {
    width: 100vw;
    height: 100%;
  }
}
.container .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.25rem;
  margin-bottom: 2rem;
}
.container .logo {
  width: 70px;
  height: 45px;
}
.container .logo img {
  width: 100%;
}
.container .nav-links {
  display: flex;
  gap: 2.25rem;
  transition: all 0.3s ease-in-out;
}
.container .nav-links a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  transition: all 0.3s ease-in-out;
}
.container .nav-links a:hover {
  color: #f15e50;
}
@media (max-width: 39.9375em) {
  .container .nav-links {
    display: none;
  }
}
.container .menu {
  z-index: 120;
  cursor: pointer;
}
.container .mobile-menu {
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  z-index: 100;
  padding: 2rem;
  background-color: red;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.container .mobile-menu a {
  text-decoration: none;
  color: var(--very-dark-blue);
  font-size: 1.25rem;
}
@media (min-width: 40em) {
  .container .mobile-menu {
    display: none;
  }
}
.container .hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
@media (max-width: 39.9375em) {
  .container .hero-section {
    flex-direction: column;
  }
}
.container .hero-container {
  width: 65%;
}
@media (max-width: 39.9375em) {
  .container .hero-container {
    width: 100%;
  }
}
.container .news-aside {
  width: 32%;
  background-color: #00001a;
  padding: 1.5rem 1rem;
}
@media (max-width: 39.9375em) {
  .container .news-aside {
    width: 100%;
  }
}
.container .news-aside h2 {
  color: #e9ab53;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.container .news-highlight {
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.container .news-highlight h4 {
  color: #fffdfa;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}
.container .news-highlight h4:hover {
  color: #e9ab53;
}
.container .hero-texts {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 39.9375em) {
  .container .hero-texts {
    width: 100%;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }
}
.container .hero-images .desktop-hero-image {
  width: 100%;
  height: 320px;
  margin-bottom: 1.25rem;
}
.container .hero-images .desktop-hero-image img {
  height: 100%;
  width: 100%;
}
@media (max-width: 39.9375em) {
  .container .hero-images .desktop-hero-image {
    display: none;
  }
}
.container .hero-images .mobile-hero-image {
  margin-bottom: 1.5rem;
}
@media (min-width: 40em) {
  .container .hero-images .mobile-hero-image {
    display: none;
  }
}
.container .feature-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 39.9375em) {
  .container .feature-section {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: unset;
  }
}
.container .card-details {
  display: flex;
  gap: 0.6rem;
  height: 130px;
  cursor: pointer;
}
.container .card-details .texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .card-details .texts h3 {
  font-size: 2.5rem;
}
.container .card-details .texts h5 {
  font-size: 1rem;
  color: #00001a;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.container .card-details .texts h5:hover {
  color: #f15e50;
}
.container .card-details .texts p {
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */